.lineno {
  display:block;
  font-family: monospace;
  text-align: right;
}
.macro-use {
  color: #800;
}
.macro-def {
  color: #080;
}


a {
  text-decoration: none ;
}
a:link {
  color: #000080 ;
}
a:link:hover, a:visited:hover {
  background-color: #ccf ;
  color: #008 ;
  border-radius: 4px ;
}
a:link:active, a:visited:active {
  color: red ;
}

:target {
  background-color: #eef ;
  padding: 1px 2px 1px 10px ;
  border: solid #caa 2px ;
  border-radius: 8px ;
}
